.App {
  text-align: center;
  padding-bottom: 2rem;
}
.home_title {
  font-size: 2.5rem;
  font-family: "Sintony", sans-serif;
  color: white;
}
.header {
  background-color: rgb(8, 16, 34); /*#081022*/

  padding-top: 3rem;
} /*rgb(175, 165, 152); */ /*#AFA598*/

footer {
  background-color: #98af9e;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: "Sintony", sans-serif;
}
.articleCard {
  border: rgb(175, 165, 152) solid 1px;
}
.articleCard_link {
  text-decoration: none;
  color: black;
}
.articleCard_title {
  font-family: "Sintony", sans-serif;
  font-size: 1.2rem;
}
.articleCard_author {
  font-size: 0.8rem;
  color: #626e65;
}
.articleCard:hover {
  background-color: rgb(229, 226, 226);
} /*rgb(233, 227, 227)*/

.articleCard_comments {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articleCard_date {
  font-size: 0.8rem;
}
.articleCard_votes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comments {
  background-color: rgb(224, 228, 230);
  width: 80%;
  margin: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}
.comments_title {
  padding-top: 2rem;
}
.comments_body {
  width: 80%;
  margin: auto;
}
.comments_post {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.comments_button {
  background-color: #98af9e;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1rem;
}
.comments_text {
  font-size: 1rem;
  width: 6rem;
}
.errorMessage {
  color: rgb(175, 64, 64);
}
.nav_home {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  transform: scale(1.5);
}
.nav_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav_link {
  /*rgb(212, 206, 206)*/
  border: rgb(169, 184, 212) solid 1px;
  background-color: inherit;
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  font-family: "Sintony", sans-serif;
}
.nav_link:hover {
  background-color: white;
  color: black;
}
.sortnavbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sortnavbar_link {
  background-color: #98af9e;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortnavbar_icon {
  padding-left: 0.5rem;
}
.singleArticle_title {
  font-family: "Sintony", sans-serif;
  font-size: 1.8rem;
}
.singleArticle {
  width: 85%;
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
.singleArticle_body {
  font-size: 1rem;
  line-height: 2rem;
}
.login_form {
  right: 1rem;
  top: 5px;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  border-radius: 25px;
}
.login_form_text {
  width: 7rem;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.login_form_submit {
  padding: 0.3rem;
  background-color: #98af9e;
  font-family: "Sintony", sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login_message {
  color: white;
  right: 1rem;
  position: absolute;
  top: 1.2rem;
  font-size: 0.9rem;
}
.login_avatar {
  width: 7%;
  top: 0.3rem;
  position: absolute;
  right: 12rem;
  border-radius: 50%;
}

.deleteComment_message {
  color: red;
}
.votebutton {
  border-radius: 12px;
  background-color: white;
  border: none;
  margin: 5px;
  border: rgb(192, 188, 188) solid 2px;
}
.votebutton:hover {
  border: rgb(136, 135, 135) solid 2px;
}
.delete_button {
  margin-bottom: 5px;
}
.successmessage {
  color: green;
}
@media (min-width: 700px) {
  .nav_home {
    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: scale(2);
  }
  footer {
    font-size: 1.4rem;
  }
  .articleCard_title {
    font-family: "Sintony", sans-serif;
    font-size: 1.5rem;
  }
  .articleCard_author {
    font-size: 1rem;
  }
  .login_form {
    right: 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 2rem;
  }
  .login_form_text {
    width: 7rem;
  }
  .login_form_submit {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  .login_message {
    color: white;
    right: 1rem;
    position: absolute;
    padding-top: 0.8rem;
  }
  .sortnavbar_link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  .login_avatar {
    width: 4%;
    top: 0.2rem;
    right: 12rem;
  }
}
@media (min-width: 1000px) {
  .articleCard {
    width: 65%;
    margin: auto;
    background-color: white;
  }

  .App {
    /*background-color: rgb(200, 204, 204);*/
    background-image: url("./images/email-pattern.png");
  }
  .articleCard_author {
    font-size: 1.1rem;
  }
  .comments {
    background-color: rgb(224, 228, 230);
    width: 70%;
  }
  .comments_body {
    width: 60%;
    margin: auto;
  }
  .singleArticle {
    background-color: rgb(224, 228, 230);
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1rem;
    width: 70%;
  }
  .singleArticle_body {
    font-size: 1.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .sortnavbar_link {
    font-size: 1.2rem;
  }
  .login_form_text {
    width: 10rem;
  }
  .login_avatar {
    width: 2%;
    top: 0.2rem;
    right: 14rem;
  }
  .login_message {
    font-size: 1rem;
  }
  .comments_text {
    font-size: 1rem;
    width: 15rem;
  }
}
