.App {
  text-align: center;
}

footer {
  background-color: rgb(160, 12, 12);

  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  color: white;

  position: fixed;
}
.articleCard {
  border: black solid 1px;
}
.singleArticle {
  width: 80%;
  text-align: center;
  margin: auto;
}
.comments {
  background-color: lightgray;
  width: 70%;
  margin: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
}
.comments_title {
  padding-top: 2rem;
}
.comments_body {
  width: 60%;
  margin: auto;
}
.errorMessage {
  color: rgb(172, 66, 66);
}
.nav_home {
  position: absolute;
  top: 3rem;
  left: 3rem;
  transform: scale(2);
}
