.App {
  text-align: center;
}
.home_title {
  font-size: 2.5rem;
  font-family: "Sintony", sans-serif;
}
.header {
  background-color: rgb(175, 165, 152); /*#AFA598*/
  padding-top: 2rem;
}

footer {
  background-color: #98af9e;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  color: white;

  position: fixed;
}
.articleCard {
  border: rgb(175, 165, 152) solid 1px;
}
.articleCard_link {
  text-decoration: none;
  color: black;
}
.articleCard:hover {
  background-color: rgb(233, 227, 227);
}
.singleArticle {
  width: 80%;
  text-align: center;
  margin: auto;
}
.comments {
  background-color: lightgray;
  width: 70%;
  margin: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
}
.comments_title {
  padding-top: 2rem;
}
.comments_body {
  width: 60%;
  margin: auto;
}
.errorMessage {
  color: rgb(175, 64, 64);
}
.nav_home {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  transform: scale(1.5);
}
.nav_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav_link {
  border: rgb(212, 206, 206) solid 1px;
  background-color: inherit;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.nav_link:hover {
  background-color: ivory;
}
.sortnavbar {
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.sortnavbar_link {
  background-color: #98af9e;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sortnavbar_icon {
  padding-left: 0.5rem;
}
@media (min-width: 700px) {
  .nav_home {
    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: scale(2);
  }
}
